%wh {
    width: 100%;
    height: 100%;
}
%slh {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
%fleft {
    float: left;
}
%fright {
    float: right;
}
%clear {
    clear: both;
}
ul {
    list-style: none;
}
@mixin pos($p:absolute) {
    position: $p;
}
.nav {
    padding-top: 70px;
    width: 1200px;
    margin: 30px auto 0;
    a {
        color: #000;
    }
    p {
        a {
            color: #DD3915;
        }
    }
    .left_1 {
        width: 800px;
        .left {
            float: left;
            width: 200px;
            height: 2512px;
            // position: relative;
            .leftlist {
                li {
                    height: 70px;
                    line-height: 50px;
                    position: relative;
                    &:hover{
                        .cl{
                            display: block;
                        }
                        .cl1{
                            display: block;
                        }
                    }
                    span {
                        width: 100px;
                        height: 50px;
                        //line-height: 25px;
                        position: absolute;
                        top: 10px;
                        &:nth-of-type(2) {
                            display: block;
                            width: 70px;
                            left: 50px;
                            line-height: 30px;
                        }
                        &:nth-of-type(3) {
                            font-size: 24px;
                            color: #222;
                            right: -30px;
                            line-height: 50px;
                        }
                        &:nth-of-type(1)::before {
                            content: "";
                            display: inline-block;
                            width: 32px;
                            height: 32px;
                            top: 25px;
                            background: url("../img/xiaotubiao.png") no-repeat 0 0;
                        }
                    }
                    &:nth-child(2) span::before {
                        background-position: 0 -40px;
                    }
                    &:nth-child(3) span::before {
                        background-position: 0 -80px;
                    }
                    &:nth-child(4) span::before {
                        background-position: 0 -120px;
                    }
                    &:nth-child(5) span::before {
                        background-position: 0 -160px;
                    }
                    &:nth-child(6) span::before {
                        background-position: 0 -200px;
                    }
                    &:nth-child(7) span::before {
                        background-position: 0 -240px;
                    }
                    &:nth-child(8) span::before {
                        background-position: 0 -280px;
                    }
                    &:nth-child(9) span::before {
                        background-position: 0 -320px;
                    }
                    &:nth-child(10) span::before {
                        background-position: 0 -360px;
                    }
                    &:nth-child(11) span::before {
                        background-position: 0 -400px;
                        line-height: 25px;
                    }
                    &:nth-child(12) span::before {
                        background-position: 0 -440px;
                    }
                    &:nth-child(13) span::before {
                        background-position: 0 -480px;
                    }
                    &:nth-child(14) span::before {
                        background-position: 0 -520px;
                    }
                    &:nth-child(15) span::before {
                        background-position: 0 -560px;
                    }
                    &:nth-child(16) span::before {
                        background-position: 0 -600px;
                    }
                    &:nth-child(17) span::before {
                        background-position: 0 -640px;
                    }
                    &:nth-child(18) span::before {
                        background-position: 0 -680px;
                    }
                  
                    .cl {
                        background: #F5F6F5;
                        width: 340px;
                        //height: 450px;
                        position: absolute;
                        //border: 1px #ccc solid;
                        padding: 10px;
                        left: 150px;
                        display: none;
                        ul {
                            
                            .list3{
                                //height: 80px;
                                // width: 85px;
                                //text-align: center;
                                //display: inline-block;
                                border-bottom: 1px solid #909090;
                                padding-left: 10px;
                                position: relative;
                                line-height:60px;
                                 &:last-child {
                                    border: none;
                                   
                                }
                                ul {
                                    //height: 100px;
                                     margin: 8px 0;
                                    position: absolute;
                                    left: 100px;
                                    top: 0;
                                    li {
                                        height: 20px;
                                        width: 50px;
                                        line-height: 20px;
                                        float: left;
                                    }
                                }
                            }
                            .list2 {
                                //height: 80px;
                                // width: 85px;
                                //text-align: center;
                                //display: inline-block;
                                border-bottom: 1px solid #909090;
                                padding-left: 20px;
                                position: relative;
                                line-height:60px;
                                &:last-child {
                                    border: none;
                                    line-height: 30px;
                                }
                                ul {
                                    //height: 100px;
                                     margin: 8px 0;
                                    position: absolute;
                                    left: 100px;
                                    top: 0;
                                    li {
                                        height: 20px;
                                        width: 50px;
                                        line-height: 20px;
                                        float: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            p {
                margin: 50px 0;
            }
        }
        .center {
            width: 600px;
            height: 2512px;
            .box_1 {
                width: 490px;
                overflow: hidden;
                height: 300px;
                position: relative;
                .box_a {
                    width: 3000px;
                    height: 260px;
                    left: 0;
                    top: 0;
                    position: absolute;
                    img {
                        width: 490px;
                        float: left;
                    }
                }
                .btn {
                    position: absolute;
                    width: 50px;
                    height: 70px;
                    background: rgba(40,40,40,0.3);
                    color: #fff;
                    font-size: 50px;
                    text-align: center;
                    line-height: 70px;
                    top: 95px;
                    display: none;
                }
                .btn2 {
                    left: 440px;
                }
                .list {
                    width: 100px;
                    height: 40px;
                    margin: 0 auto;
                    position: absolute;
                    top: 270px;
                    left: 200px;
                    ul li {
                        width: 10px;
                        margin: 0 5px;
                        height: 10px;
                        border: 1px solid #909090;
                        float: left;
                        border-radius: 50%;
                        // background: #;   
                    }
                }
            }
            .box_2 {
                margin-top: 10px;
                width: 490px;
                height: 180px;
                overflow: hidden;
                h3 {
                    width: 490px;
                    height: 40px;
                    color: #DBBF7D;
                    a {
                        font-weight: 400;
                    }
                }
                .box-1 {
                    width: 2400px;
                    .list1 {
                        ul {
                            li {
                                float: left;
                                width: 150px;
                                height: 180px;
                                margin: 8px 6px 0;
                                span {
                                    float: left;
                                    display: block;
                                    line-height: 40px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            .box_3 {
                margin-top: 30px;
                width: 490px;
                height: 1500px;
                h3 {
                    width: 490px;
                    height: 40px;
                    color: #DBBF7D;
                    a {
                        font-weight: 400;
                    }
                }
                ul li {
                    overflow: hidden;
                    &:nth-child(2n+1) {
                        margin-right: 30px;
                    }
                    .pt {
                        display: block;
                        width: 230px;
                        //font-size: 16px;
                        color: #000;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        &:hover {
                            color: #DD3915;
                        }
                    }
                    div {
                        height: 40px;
                        text-align: center;
                        font-size: 12px;
                        color: #909090;
                        line-height: 20px;
                    }
                    margin-top: 10px;
                    width: 230px;
                    height: 220px;
                    // border: 1px #000000 solid;
                    float: left;
                }
            }
            .box_4 {
                height: 220px;
                width: 490px;
                position: relative;
                h3 {
                    width: 490px;
                    height: 40px;
                    color: #DBBF7D;
                    a {
                        font-size: 14px;
                        font-weight: 400;
                        &:last-child {
                            position: absolute;
                            right: 0;
                        }
                    }
                }
                ul li {
                    height: 35px;
                    line-height: 35px;
                }
                span {
                    font-size: 12px;
                    color: #909090;
                    position: absolute;
                    right: 0;
                }
            }
            .box_5 {
                margin-top: 20px;
                height: 272px;
                width: 490px;
                background: #F5F6F5;
                //position: relative;
                //border: 1px solid #000;
                h3 {
                    width: 490px;
                    height: 40px;
                    color: #DBBF7D;
                    line-height: 40px;
                    a {
                        font-weight: 400;
                    }
                }
                ul li {
                    width: 70px;
                    height: 97px;
                    float: left;
                    //line-height: 100px;
                    //background: #f7f;
                    margin: 8px 4px;
                    img {
                        width: 60px;
                        height: 60px;
                        margin: 5px;
                        border-radius: 50%;
                        text-align: center;
                    }
                    span {
                        text-align: center;
                        position: relative;
                        left: 20px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .right {
        width: 400px;
        height: 2512px;
        .deng{
            width: 400px;
            height: 260px;
            background: #F5F6F5;
            position: relative;
           text-align: center;
           line-height: 50px;
           .small{
               position: absolute;
               top:20px;
               left: 30px;
               //padding: 20px 0 0 ;
              .txiang{
                
                margin: 0 auto;
                display: block;
                width: 60px;
                height: 60px;
                font-size: 16px;
                text-align: center;
                line-height: 20px;
                color: #fff;
                padding: 10px 0 0 0;
                background: #909090;
                border-radius: 50%;
            }
            ul {
                width: 320px;
                height: 50px;
                margin: 0 auto;
                    li{
                    width: 80px;
                    float: left;
                    &::after{
                       content: "|";
                       display:block;
                       float: left;
                       //width: 300px;
                       margin: 0 5px;
                       left: 20px;
                    }
                    &:first-child::after{
                        content: "";
                    }
                }
            }
            
            .cpj{
                display: block;
                width: 120px;
                height: 50px;
                margin: 0 auto;
                background: #DD3915;
            } 
           }
            
            
        }
        .sou {
            margin-top: 20px;
            width: 400px;
            height: 240px;
            h3 {
                width: 490px;
                height: 40px;
                color: #DBBF7D;
                line-height: 40px;
            }
            ul li {
                width: 200px;
                height: 40px;
                line-height: 40px;
                float: left;
                a {
                    color: #000000;
                }
                span {
                    color: #909090;
                }
            }
        }
        .st {
            margin-top: 20px;
            width: 400px;
            position: relative;
            h3 {
                width: 490px;
                height: 40px;
                color: #DBBF7D;
                line-height: 40px;
                a {
                    font-weight: 400;
                }
            }
            ul li {
                width: 300px;
                height: 190px;
                margin-bottom: 20px;
                a {
                    color: #000;
                }
                span {
                    position: absolute;
                    left: 90px;
                    //text-align: center;
                    line-height: 40px;
                }
                &:hover a {
                    color: #DD3915;
                }
            }
        }
        .box_v {
            width: 400px;
            height: 720px;
            position: relative;
            h3 {
                width: 490px;
                height: 40px;
                color: #DBBF7D;
                line-height: 40px;
                a {
                    font-weight: 400;
                }
            }
            ul li {
                margin: 0 0 30px;
                position: relative;
                height: 60px;
                div {
                    //width: 400px;
                    float: left;
                    img {
                        float: left;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                    }
                    div {
                        margin-left: 20px;
                        span:nth-child(1) {
                            color: #000000;
                        }
                        span:nth-child(3) {
                            color: #909090;
                            font-size: 12px;
                        }
                        span:last-child {
                            color: #909090;
                            font-size: 12px;
                        }
                    }
                    a:last-child {
                        display: inline-block;
                        width: 70px;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        position: absolute;
                        right: 80px;
                        top: 15px;
                        color: #fff;
                        background: #DD3915;
                    }
                    float: left;
                }
            }
            p {
                position: absolute;
                left: 120px;
                &:hover {
                    background: #DD3915;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
    .bottom {
        //      position: absolute;
        //      bottom: 0;
        margin: 40px 0 0;
        width: 800px;
        height: 700px;
        .name {
            height: 100px;
            padding-top: 20px;
            background: #F5F6F5;
            h2 {
                margin-left: 20px;
                width: 800px;
                height: 40px;
                color: #DBBF7D;
                line-height: 40px;
                span {
                    color: #EC6C3F;
                }
            }
            ul li {
                float: left;
                margin: 0 20px;
                a {
                    color: #DD3915;
                }
            }
        }
        .bottom_1 {
            ul li {
                height: 100px;
                margin: 5px 0 0;
                background: #F5F6F5;
                .box1 {
                    float: left;
                    padding: 20px 50px;
                    width: 500px;
                    height: 100px;
                    //border: 1px #000000 solid;
                    line-height: 26px;
                    div {
                        color: #909090;
                        font-size: 12px;
                    }
                }
                .box2 {
                    float: right;
                    width: 300px;
                    height: 100px;
                    padding: 10px 20px;
                    img {
                        width: 80px;
                        height: 80px;
                        // margin:0 2px;
                    }
                }
            }
        }
    }
}
footer {
    width: 100%;
    height: 236px;
    background: #fff;
    @include pos();
    top: 3500px;
    .webbottom {
        width: 1200px;
        height: 236px;
        margin: 0 auto;
        @include pos(relative);
        .b-content {
            width: 100%;
            height: 110px;
            @include pos();
            top: 30px;
            .b-content-t {
                width: 100%;
                height: 43px;
                a {
                    display: inline-block;
                    height: 35px;
                    color: #fff;
                    padding: 0 20px;
                    line-height: 35px;
                    background: #84CF6D;
                }
            }
        }
        .b-content-c {
            width: 100%;
            @include pos(relative);
            ul {
                width: 700px;
                display: flex;
                @include pos();
                top: 20px;
                li {
                    flex: 1;
                    text-align: center;
                    a {
                        font-size: 12px;
                        color: #909090;
                    }
                }
            }
            .lx {
                width: 200px;
                @include pos();
                right: 20px;
                top: 15px;
                a {
                    display: inline-block;
                    border: 1px solid #ccc;
                    width: 70px;
                    height: 30px;
                    font-size: 14px;
                    text-align: center;
                    line-height: 30px;
                    @include pos(relative);
                    span {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        background: red;
                        @include pos();
                        left: 5px;
                        top: 7px;
                    }
                    &:nth-child(1) {
                        padding: 0 0 0 18px;
                    }
                }
            }
        }
        .b-content-b {
            width: 100%;
            @include pos();
            top: 110px;
            .addr {
                width: 700px;
                font-size: 14px;
                color: #ccc;
                a {
                    font-size: 14px;
                    color: #ccc;
                }
            }
            .ms {
                width: 150px;
                @include pos();
                font-size: 14px;
                color: #ccc;
                right: 70px;
                top: 0;
            }
        }
    }
}