*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
.topnav{width: 100%;height: 70px;background: #fff;position: fixed;left: 0;top: 0;box-shadow:0 1px 1px #ccc;z-index: 999;
    .mini_nav{width: 1200px;height: 70px;margin: 0 auto;line-height: 70px;position: relative;
        .logo{width: 120px;height: 40px;margin: 15px 55px 15px 0;float: left;
            img{width: 120px;height: 40px;}
        }
        .search{width: 380px;height: 40px;padding: 15px 44px 15px 0;line-height:40px;float:left;
            input{width: 300px;height: 40px;font-size:16px;vertical-align:middle;box-sizing: border-box;}
            .sou_btn{display:inline-block;
            width: 80px;height: 40px;
            background: #DD3915;color: white;
            text-align: center;line-height: 40px;
            vertical-align:middle;
            border-color: red;
            }
        }
        ul{width: 280px;height: 70px;float:left;
            li{height: 70px;line-height: 70px;float: left;margin-right: 20px;
                a{color: #DD3915;}
                .show{position:absolute;top: 60px;right: 300px;width: 395px;height: 375px;background: #eee;z-index: 999;display: none;transition: all 2s;
                    .show_tit{display: flex;
                        ul{width: 385px;height: 325px;flex: 1;display: flex;flex-direction: column;border-bottom: 1px #fff solid;
                            li{text-align: center;height: 30px;color: #ccc;
                                a{padding: 5px 0;color: #DD3915;}
                            }
                        }  
                    }
                    .show_more{width: 385;height: 50px;text-align: center;line-height: 50px;
                        a{color: #DD3915;}
                    }
                }
            }
            
        }
        .login{height: 70px;float: right;
            span{margin-left: 12px;
                a{color: #DD3915;}
            }
        }
    }
}
.content{width: 100%;padding-top: 70px;overflow: auto;
    .mini_content{width: 1200px;margin: 0 auto;
        .content_type{width: 1200px;height: 70px;
            p{font-size: 35px;margin-top: 35px;}
        }
        .content_tab{width: 1200px;
            .tab1{width: 1200px;height: 380px;background: #eee;
                .tab1_tit{width: 200px;height: 380px;margin-left: 50px;float: left;
                    h3{margin-top: 40px;}
                }
                .tab1_inner1{width: 500px;
                height: 300px;
                padding: 40px 0;
                float: left;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                    ul{width: 250px;display: flex;flex-direction: column;margin-bottom: 40px;
                        li{color: #ccc;
                            a{color: black;}
                            &:not(:last-child){margin-bottom: 10px;}
                        }
                    }  
                }
                .tab1_inner2{width: 300px;
                height: 300px;
                padding: 40px 0;
                float: left;
                display: flex;
                flex-direction: column;
                position: relative;
                    li{width: 300px;margin-bottom: 10px;color: #ccc;
                        a{color: black;}  
                    }
                    span{position: absolute;bottom: 30px;right: 0;
                        a{color: black;padding: 5px;}
                    } 
                }
            }
            .tab2{width: 1200px;height: 290px;background: #eee;
                .tab2_tit{width: 200px;height: 290px;margin-left: 50px;float: left;
                    h3{margin-top: 40px;}
                }
                .tab2_inner1{width: 500px;
                height: 210px;
                padding: 40px 0;
                float: left;
                display: flex;
                justify-content: flex-start;
                    ul{width: 250px;display: flex;flex-direction: column;margin-bottom: 40px;
                        li{margin-bottom: 10px;color: #eee;
                            a{color: black;}
                        }
                    }  
                }
                .tab2_inner2{width: 300px;
                height: 210px;
                padding: 40px 0;
                float: left;
                display: flex;
                flex-direction: column;
                position: relative;
                    li{width: 300px;margin-bottom: 10px;
                        a{color: black;}  
                    }
                    span{position: absolute;bottom: 30px;right: 0;
                        a{color: black;padding: 5px;}
                    } 
                }
            }
            .tab3{width: 1200px;height: 340px;background: #eee;
                .tab3_tit{width: 200px;height: 340px;margin-left: 50px;float: left;
                    h3{margin-top: 40px;}
                }
                .tab3_inner1{width: 500px;
                height: 260px;
                padding: 40px 0;
                float: left;
                display: flex;
                justify-content: flex-start;
                    ul{width: 250px;display: flex;flex-direction: column;margin-bottom: 40px;
                        li{margin-bottom: 10px;color: #eee;
                            a{color: black;}
                        }
                    }  
                }
                .tab3_inner2{width: 300px;
                height: 260px;
                padding: 40px 0;
                float: left;
                display: flex;
                flex-direction: column;
                position: relative;
                    li{width: 300px;margin-bottom: 10px;
                        a{color: black;}  
                    }
                    span{position: absolute;bottom: 30px;right: 0;
                        a{color: black;padding: 5px;}
                    } 
                }
            }
            .tab4{width: 1200px;height: 380px;background: #eee;
                .tab4_tit{width: 200px;height: 380px;margin-left: 50px;float: left;
                    h3{margin-top: 40px;}
                }
                .tab4_inner1{width: 500px;
                height: 300px;
                padding: 40px 0;
                float: left;
                display: flex;
                justify-content: flex-start;
                    ul{width: 250px;display: flex;flex-direction: column;margin-bottom: 40px;
                        li{margin-bottom: 10px;color: #ccc;
                            a{color: black;}
                        }
                    }  
                }
                .tab4_inner2{width: 300px;
                height: 300px;
                padding: 40px 0;
                float: left;
                display: flex;
                flex-direction: column;
                position: relative;
                    li{width: 300px;margin-bottom: 10px;color: #ccc;
                        a{color: black;}  
                    }
                    span{position: absolute;bottom: 30px;right: 0;
                        a{color: black;padding: 5px;}
                    } 
                }
            }
            .tab5{width: 1200px;height: 200px;background: #eee;
                .tab5_tit{width: 200px;height: 200px;margin-left: 50px;float: left;
                    h3{margin-top: 40px;}
                }
                .tab5_inner1{width: 500px;
                height: 120px;
                padding: 40px 0;
                float: left;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                    ul{width: 250px;display: flex;flex-direction: column;margin-bottom: 40px;
                        li{margin-bottom: 10px;color: #ccc;
                            a{color: black;}
                        }
                    }  
                }
                .tab5_inner2{width: 300px;
                height: 120px;
                padding: 40px 0;
                float: left;
                display: flex;
                flex-direction: column;
                position: relative;
                    li{width: 300px;margin-bottom: 10px;color: #ccc;
                        a{color: black;}  
                    }
                    span{position: absolute;bottom: 30px;right: 0;
                        a{color: black;padding: 5px;}
                    } 
                }
            } 
            .tab6{width: 1200px;height: 380px;background: #eee;
                .tab6_tit{width: 200px;height: 380px;margin-left: 50px;float: left;
                    h3{margin-top: 40px;}
                }
                .tab6_inner1{width: 500px;
                height: 300px;
                padding: 40px 0;
                float: left;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                    ul{width: 250px;display: flex;flex-direction: column;margin-bottom: 40px;
                        li{margin-bottom: 10px;color: #ccc;
                            a{color: black;}
                        }
                    }  
                }
                .tab6_inner2{width: 300px;
                height: 300px;
                padding: 40px 0;
                float: left;
                display: flex;
                flex-direction: column;
                position: relative;
                    li{width: 300px;margin-bottom: 10px;color: #ccc;
                        a{color: black;}  
                    }
                    span{position: absolute;bottom: 30px;right: 0;
                        a{color: black;padding: 5px;}
                    } 
                }
            }   
        } 
    }
}
.foot{width: 100%;height: 160px;
    .mini_foot{width: 1200px;height: 160px;margin: 50px auto 80px auto;
        .ad{width: 100%;height: 90px;margin: 25px 0;
            img{width: 100%;height: 90px;}
        }
        .copy{width: 100%;height: 60px;
            .copy_left{width: 600px;height: 60px;float: left;
                ul{width: 600px;
                    li{font-size: 13px;margin-right: 10px;float: left;color: #ccc;
                        a{color: #ccc;}
                    }
                }
                p{font-size: 13px;margin-top: 20px;color: #ccc;}
            }
            .copy_right{width: 150px;height: 60px;float: right;font-size: 13px;
                a:nth-of-type(1){display: inline-block;padding: 5px;background: #eee;border: 1px #ccc solid;color: #1582BD;}
                span:nth-of-type(1){color: #FAF8EF;}
                a:nth-of-type(2){padding: 3px 10px;background: #FAF8EF;border: 1px yellow solid;font-size: 13px;color: black;}
                p{margin-top: 5px;color: #ccc;}
            }
        }
    }
}

