%slh{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
@mixin pos($p:absolute){
    position:$p;
}
.cd1{
    width:100%;
    li{
        width:100%;
        height:38px;
        line-height:38px;
        &:nth-child(1){
            color:#ccc;
            padding:0 0 0 45px;
        }
        a{
            padding:0 0 0 45px;
            display:inline-block;
            &:hover{
                color:#DD3915;
            }
        }
        &.open{
            background:#EBE9E7;
            }
        }
}
 .cd-u{
                width:100%;
                li{
                    width:100%;
                    height:138px;
                    margin:0 0 20px;
                        div{
                            width:100%;
                             height:138px;
                            float:left;
                            &:nth-child(1){
                                width:215px;
                                height:136px;
                            }
                            &:nth-child(2){
                                margin:0 0 0 10px;
                                width:300px;
                                height:136px;
                                
                                p{
                                    margin:10px 0;
                                    a{
                                        display:inline-block;
                                        
                                        &:hover{
                                            color:#DD3915;
                                        }
                                    }
                                }
                                p:nth-child(1){
                                    font-size:20px;
                                    font-weight:700;
                                   a{
                                       width:100%;
                                       @extend %slh;
                                       padding-right:30px;
                                   }
                                }
                               
                                p:nth-child(2),p:nth-child(3){
                                    color:#909090;
                                }
                                p:not(:first-child){
                                    font-size:14px;
                                }
                                p:nth-child(2){
                                    span{
                                        color:#72A46D;
                                        font-weight:700;
                                    }
                                }
                            }
                        }
                        
                    
                }
        }
        .se-right{
            margin:30px 0 0 50px;
            @include pos(relative);
            padding:0;
            .r-title{
                @include pos(relative);
                h2{
                   @include pos(); 
                   left:-50px;
                }
                a{
                    display:inline-block;
                    @include pos();
                    right:-100px;
                }
            }
        }
.content{width: 100%;height: 690px;padding-top: 70px;
    .mini_content{width: 1200px;height: 100%;margin: 0 auto;
        .content_left{width: 660px;height: 100%;float: left;
            .content_left_tit{width: 660px;height: 50px;margin-top: 30px;
            	span{display: inline-block;text-align: center;line-height: 50px;background: #eee;
            		&:nth-child(1){width: 140px;}
            	    &:nth-child(2){width: 100px;margin: 0 1px;}
            	    &:nth-child(3){width: 408px;}
            	}
            }
            p{line-height: 90px;}
            .content_user{padding: 0 65px 0 30px;display: flex;justify-content: space-between;flex-wrap: wrap;
                li{width: 250px;height: 60px;margin-bottom: 15px;
                    .user_pic{border-radius: 30px;float: left;
                        img{width: 60px;height: 60px;}
                    }
                    .user_txt{width: 175px;height: 60px;float: right;
                        .txt_perv{width: 100%;height: 40px;
                        	div:nth-child(1){width: 95px;height: 40px;float: left;
                        	    span:nth-child(1){font-size: 15px;display: block;
                        	        span{display: inline-block;}
                        	    }
                        	    span:nth-child(2){font-size: 12px;color: #ccc;}
                        	}
                        	div:nth-child(2){float: right;margin-top: 10px;
                        	    a{background: #DD3916;color: white;padding: 10px 20px;}
                        	}
                        }
                        .txt_next{width: 100%;height: 20px;
                        	span{margin-right: 5px;font-size: 12px;color: #ccc;}
                        }
                    }
                }
            }
        }
        .content_right{width: 300px;height: 100%;float: right;
            div{width: 100%;height: 60px;background: #eee;margin-bottom: 40px;line-height: 60px;color: #E0390F;
                &:nth-child(1){margin-top: 30px;}
                span{margin: 0 10px 0 20px;}
            }
        }
    }
}


.foot{width: 100%;height: 100%;
    .mini_foot{width: 1200px;height: 100%;margin: 50px auto 80px auto;
        .ad{width: 100%;height: 90px;margin: 25px 0;
            img{width: 100%;height: 90px;}
        }
        .copy{width: 100%;height: 60px;
            .copy_left{width: 600px;height: 60px;float: left;
                ul{width: 600px;
                    li{font-size: 13px;margin-right: 10px;float: left;color: #ccc;
                        a{color: #ccc;}
                    }
                }
                p{font-size: 13px;margin-top: 20px;color: #ccc;}
            }
            .copy_right{width: 150px;height: 60px;float: right;font-size: 13px;
                a:nth-of-type(1){display: inline-block;padding: 5px;background: #eee;border: 1px #ccc solid;color: #1582BD;}
                span:nth-of-type(1){color: #FAF8EF;}
                a:nth-of-type(2){padding: 3px 10px;background: #FAF8EF;border: 1px yellow solid;font-size: 13px;color: black;}
                p{margin-top: 5px;color: #ccc;}
            }
        }
    }
}
